/***** Neat grid system*****/
@import url(https://fonts.googleapis.com/css?family=Muli|Cookie|Didact+Gothic);
/* media query points*/
/*
 * Rules for base elements
 */
html {
  font-size: 68.5%; }

body {
  color: #2a2a2a;
  font-family: "Muli", sans-serif;
  margin: 0; }

img {
  width: inherit;
  max-width: 100%;
  height: auto; }

p, li {
  font-size: 20px;
  font-size: 2rem;
  color: #555;
  line-height: 1.6; }

p, ul, ol, dl {
  margin: 0 0 0.5em 0; }

li {
  list-style: none; }

p {
  overflow: hidden; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  font-size: 2rem; }

th, td {
  padding: 0.5em; }

.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 20px;
    font-size: 2rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.header-products {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.navbar-first {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.main-nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.product-main-image {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.about-main-product {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.product-comment-review {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.related-products {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin: 4% 0;
  text-align: center; }

.video {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.related-products-camisa {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.product-images-item {
  text-align: center; }

.product-info-item-precio {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.product-description,
.about-main-product {
  padding: 0 4%; }

.product-info {
  margin: 0;
  padding: 0; }

.about-main-product {
  margin-top: 10%; }

.product-comment-review-user {
  background: #2a2a2a;
  margin: 3% 0;
  padding: 4%; }
  .product-comment-review-user h3 {
    display: inline-block;
    width: 40%;
    word-spacing: 5px; }

.fa-star {
  color: #2a9d8a;
  font-size: 1.5rem; }

@media (max-width: 640px) {
  iframe {
    height: 200px;
    width: 300px; } }

.product-main-image {
  padding-top: 24%; }

@media (min-width: 640px) {
  .toggle-menu {
    display: none; } }

.navbar-first {
  background-color: #2a9d8a;
  position: fixed;
  top: 0;
  width: 100%; }
  .navbar-first a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-size: 2.4rem; }
  .navbar-first h1 {
    display: inline-block;
    width: 150px; }
  .navbar-first input {
    display: none; }
  @media (min-width: 640px) {
    .navbar-first {
      position: absolute; }
      .navbar-first input {
        display: block; }
      .navbar-first h1 {
        width: 261px; } }

.main-nav {
  background-color: #2a2a2a;
  position: fixed;
  width: 100%;
  top: 78px; }
  @media (max-width: 640px) {
    .main-nav {
      display: none; } }
  .main-nav li {
    color: white;
    margin: 6% 0;
    font-size: 20px;
    font-size: 2rem; }
  @media (min-width: 640px) {
    .main-nav {
      position: absolute;
      width: 100%;
      top: 45px; }
      .main-nav li {
        display: inline-block; } }

li.list-item {
  list-style-type: normal;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  max-width: 100%;
  margin: 0 10px;
  top: 0; }
  li.list-item a {
    color: #fff; }

li.expanded:hover ul.categories {
  display: block; }

@media (min-width: 640px) {
  ul.categories {
    display: none;
    height: auto;
    position: absolute;
    background: #2a9d8a;
    width: 135px;
    z-index: 3; } }

ul.categories li {
  position: relative; }

button {
  font-size: 20px;
  font-size: 2rem;
  margin: 3% 0;
  margin-top: -2px; }

/*
 * Price style .
 */
.product-info-item-precio {
  background: #4a4a4a;
  width: 100%;
  text-align: center;
  height: 4rem;
  font-size: 25px;
  font-size: 2.5rem; }

.category {
  display: block;
  width: 400px; }

.about-main-product h2 {
  font-size: 20px;
  font-size: 2rem; }

.video {
  text-align: center; }

footer {
  background: #2a2a2a;
  clear: both;
  padding: 4%; }
  footer h5 {
    color: #060606;
    margin-top: 2%;
    text-align: left; }

/*# sourceMappingURL=style.css.map */