//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

/***** Neat grid system*****/
$max-width: 1200px;
$grid-colums: 12;
$max-content: 960px;
$mobile-width: 640px;

// Typography
// import fonts
@import url(https://fonts.googleapis.com/css?family=Muli|Cookie|Didact+Gothic);

//fonts variables
$muli: 'Muli', sans-serif;
$cookie: 'Cookie', cursive;
$didact: 'Didact Gothic', sans-serif;


// Colors
$primary-color: #2a9d8a; //verde
$second-color: #555; // gris claro
$light: #fff; // blanco
$dark: #2a2a2a; // dark

/* media query points*/
$desktop: 1024px;
$tablet: 640px;
$mobile: 420px;
