/*
 * Price style .
 */
.product-info-item-precio {
    background: #4a4a4a;
    width: 100%;
    text-align: center;
    height: 4rem;
    font-size: 25px;
    font-size: 2.5rem;
 }

.category {
    display: block;
    width: 400px;
}
