//nav styles

.product-main-image {
  padding-top: 24%;
}

.toggle-menu{
  @media (min-width: $mobile-width){
    display: none;
  }
}

.navbar-first {
  background-color: #2a9d8a;
  position: fixed;
  width: 100%;
  top: 0;
  a {
    color: white;
    text-decoration: none;
    @include font-size(24);
    }
  h1 {
    display: inline-block;
    width: 30%;
  }
  input {
    display: none;
  }
@media (min-width: $mobile-width){
    position: absolute;
  }
}

.main-nav {
@media (max-width: $mobile-width){
  display: none;
}

  background-color: #2a2a2a;
  height: 300px;
  position: fixed;
  width: 100%;
  top: 110px;
  li {
    color: white;
    margin: 6% 0;
    @include font-size(20);
  }
@media (min-width: $mobile-width){
  position: absolute;
  width:100%;
  top: 45px;
  li{
    display: inline-block;
  }
}
}

li.list-item {
  list-style-type: normal;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  max-width: 100%;
  margin: 0;
  top: 0;
  margin-left: 5%;
}

li.expanded {
  &:hover {
    ul.categories {
      display: block;
    }
  }
}

ul.categories {
  display: none;
  height: auto;
  position: absolute;
  background: #2a9d8a;
  width: 135px;
  z-index: 3;
  li {
    position: relative;
  }
}


button {
  @include font-size(20);
  margin: 3% 0;
  margin-top: -2px;
}
