//nav styles

.product-main {
  padding-top: 24%;
}

.toggle-menu{
  float: right;
  @media (min-width: $mobile-width){
    display: none;
  }
}

.navbar-first {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  width: 100%;
  a {
    color: white;
    text-decoration: none;
    @include font-size(24);
    }
  h1 {
    display: inline-block;
    width: 150px;
  }
  input {
    display: none;
  }
@media (min-width: $mobile-width){
    position: absolute;
      input {
      display: block;
      float: right;
      border-radius: none;
      border: 2px solid $light;
      margin: 1%;
    }
    h1 {
    width: 261px;
  }
  }
}

.main-nav {
@media (max-width: $mobile-width){
  display: none;
}

  background-color: $dark;
  position: fixed;
  width: 100%;
  top: 78px;
  li {
    color: white;
    margin: 6% 0;
    @include font-size(20);
  }
@media (min-width: $mobile-width){
  position: absolute;
  width:100%;
  top: 45px;
  li{
    display: inline-block;
  }
}
}

li.list-item {
  list-style-type: normal;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  max-width: 100%;
  margin: 0 10px;
  top: 0;
  a {
    color: $light;
  }

}

li.expanded {
  &:hover {
    ul.categories {
      display: block;
    }
  }
}

ul.categories {
  @media (min-width: $mobile-width){
  display: none;
  height: auto;
  position: absolute;
  background: $primary-color;
  width: 135px;
  z-index: 3;
}
  li {
    position: relative;
  }
}


button {
  @include font-size(14);
  margin: 3% 0;
  margin-top: 2px;
  border: none;
  padding: 15px;
  background: $light;
    color: $primary-color;
    border: 2px solid $primary-color;
  &:hover {
    background:$primary-color;
    color:$light;
  }
}
