//nav styles

.product-main-image {
  padding-top: 24%;
}

.toggle-menu {
  @media (min-width: $mobile-width){
      display: none;
}

.navbar-first {
  background-color: #2a9d8a;
  position: fixed;
  width: 100%;
  top: 0;
  a {
    color: white;
    text-decoration: none;
    @include font-size(24);
    }
  }
  h1 {
    display: inline-block;
    width: 30%;
  }
  input {
    display: none;
  }

}

.main-nav {
@media (max-width: $mobile-width){
  display: none;
}

  background-color: #2a2a2a;
  height: auto;
  position: fixed;
  width: 100%;
  top: 110px;
  li {
    color: white;
    margin: 6% 0;
    @include font-size(20);
  }
@media (min-width: $mobile-width){
  position: absolute;
  width:100%;
  li{
    display: inline-block;
  }
}
}


button {
  @include font-size(20);
  margin: 3% 0;
  margin-top: -2px;
}
